TURSO_AUTH_TOKEN=
TURSO_DATABASE_URL=
VERCEL_OIDC_TOKEN=
SQUARE_ACCESS_TOKEN=
SQUARE_ENVIRONMENT=
SQUARE_WEBHOOK_SIGNATURE_KEY=
SQUARE_LOCATION_ID=
NEXT_PUBLIC_SQUARE_REDIRECT_URI=
BETTER_AUTH_SECRET=
CREDENTIAL_ENCRYPTION_KEY=